Warp/Splash
{
    container BorderPanel(Warp/Splash)
    {
        metrics_mode relative
        left 0
        top 0
        width 1
        height 1
        material Splash
    }
}

Warp/GameOver
{
    zorder 500
    
    container Panel(Warp/GamePanel)
    {
        metrics_mode relative
        
        left 0.5
        top 0.25
        width 0
        height 0
        
        element TextArea(Warp/Game)
        {
            alignment center
            metrics_mode pixels
            font_name Font200
            char_height 200
            caption GAME
        }
        

    }
    
    container Panel(Warp/OverPanel)
    {
        metrics_mode relative
        left 0.5
        top 0.4
        width 0
        height 0
    
    
        element TextArea(Warp/Over)
        {
            alignment center
            metrics_mode pixels
            font_name Font200
            char_height 200
            caption OVER
        }
    }
}


Warp/HUD
{    
    container BorderPanel(Warp/HUD)
    {
        metrics_mode relative
        vert_align top
        left 0
        top 0
        width 1
        height 1

    
        element TextArea(Warp/Shields)
        {
            metrics_mode pixels
            left 5
            top 5
            width 200
            height 26
            font_name Font24
            char_height 32
            caption Shields: 100%
        }
        
        element TextArea(Warp/Points)
        {
            metrics_mode pixels
            left 5
            top 26
            width 200
            height 26
            font_name Font24
            char_height 32
            caption Points: 0
        }
        
        element TextArea(Warp/Speed)
        {
            metrics_mode pixels
            horz_align right
            alignment right
            left -5
            top 5
            width 200
            height 26
            font_name Font24
            char_height 28
            caption Speed: 80%
        }
    }
}


Warp/Debug
{
    container BorderPanel(Warp/Debug)
    {
        metrics_mode pixels
        vert_align bottom
        left 5
        top -60
        width 500
        height 0
    
        
        element TextArea(Warp/AverageFps)
        {
            metrics_mode pixels
            left 5
            top 5
            width 200
            height 20
            font_name Font24
            char_height 18
            caption "Average FPS:"
        }
        
        element TextArea(Warp/NumTris)
        {
            metrics_mode pixels
            left 5
            top 20
            width 200
            height 20
            font_name Font24
            char_height 18
            caption "Triangle Count:"
        }
        
        element TextArea(Warp/NumBatches)
        {
            metrics_mode pixels
            left 5
            top 35
            width 200
            height 20
            font_name Font24
            char_height 18
            caption "Triangle Count:"
        }
    }
}